# Web Scraping
selenium==4.36.0
beautifulsoup4==4.14.3
requests==2.32.5

#Data Processing
pandas==2.3.3
numpy==2.0.2

# Stock Market Data
yfinance==1.2.0

# Machine Learning
scikit-learn==1.6.1
xgboost==2.1.4
lightgbm==4.5.0

# Visualization
matplotlib==3.9.4
seaborn==0.13.2
plotly==6.0.0

#Jupyter Notebooks
jupyter==1.1.1
notebook==7.5.3
ipykernel==6.31.0

# Utilities
python-dateutil==2.9.0.post0
tqdm==4.67.3
openpyxl==3.1.5